/* h1 element styling */
h1 {
  color: darkgoldenrod;  
  background-color: plum;
  font-size: 3em;
  margin: auto;
  height: 75px;
}

/* ul element styling */
ul {
  margin: 25px;
  padding: 25px;
  list-style-type: disc;
  background-color: antiquewhite;
  color: brown;
  font-size: 20px;
}

/* ol element styling */
ol {
  margin: 25px;
  padding: 25px;
  list-style-position: inside;
  list-style: decimal;
  background-color: cadetblue;
  color: bisque;
  font-size: 20px;
}

/* img element styling */
img {
  max-width: 30%;
}

/* trying to make divs of ul and ol to allow img elements to style like class elements. will need to troubleshoot this later to figure out why it exploded them out to i think it was the max-width=100% instead of the 60% for ul and 30% for ol. */
/* img.animals {
  max-width: 30%;
} */

/* img.likes {
  max-width: 60;
} */

/* h2 element styling */
h2 {
  color: plum;
  background-color: gray;
  font-size: 2em;
}

/* p element styling */
p {
  color: #ff4433;
  background-color: #0d98ba20;
  font-size: 20px;
  padding: 25px;
  margin: 25px;
}

/* footer element styling */
footer {
  color: gray;
  background-color: hotpink;
  font-size: large;
  padding: 25px;
}
