/* body and main background color */
body, main {
  background-color: beige;
} 

/* h1 element styling */
h1 {
  color: plum;  
  background-color: gray;
  font-size: 3em;
  padding: 25px;
  height: 75px;
}

 /* nav element styling */
 nav {
  display: inline;
  float: right;
  font-size: 18px;
 }

/* ul element styling */
ul {
  margin: 15px;
  padding: 75px;
  list-style-type: disc;
  background-color: cadetblue;
  color: bisque;
  font-size: 25px;
  align-content: center;
  border-radius: 5em;
}

/* Try to figure out how to make a gray bar between the two lists sort of like the other scetions. */

/* ol element styling */
ol {
  margin: 15px;
  padding: 75px;
  list-style-position: inside;
  list-style: decimal;
  background-color: cadetblue;
  color: bisque;
  font-size: 25px;
  align-content: center;
  border-radius: 5em;
}

/* img element styling */
img {
  max-width: 33%;
}

/* trying to make divs of ul and ol to allow img elements to style like class elements. will need to troubleshoot this later to figure out why it exploded them out to i think it was the max-width=100% instead of the 60% for ul and 30% for ol. */
/* .animals {
  max-width: 30%;
  display:inline-block;
}

.likes {
  max-width: 60;
  display: inline-block;;
} */

/* h2 element styling */
h2 {
  color: plum;
  background-color: gray;
  font-size: 2em;
  padding: 10px;
  padding-left: 20px;
}

/* p element styling */
p {
  color: #ff4433;
  background-color: #0d98ba20;
  font-size: 20px;
  padding: 25px;
  margin: 25px;
}

/* footer element styling */
footer {
  color: plum;
  background-color: gray;
  font-size: 1.5em;
  padding: 25px;
}
